<h5>User Connected: {{userName}}</h5>
<div *ngIf="isOnline; else offlineTemplate">
    ✅ Estás en línea
  </div>
  <ng-template #offlineTemplate>
    ❌ Estás desconectado
  </ng-template>
<div class="container">
    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="sendMessage()"> 
        <label>Users found:</label>
        <select formControlName="userNameSelected" class="form-control" (change)="selectUser($event)">
            <option *ngFor="let user of usersBluetooth" [value]="user.userName">
                {{user.userName}}
            </option>
        </select>

        <label>User to send message:</label>
            <input type="text" formControlName="userNameSelected">

        <label>Message:</label>
            <input type="text" formControlName="messageToSend">

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary w-25">
                <i class="fa fa-save"></i>
                Enviar
            </button>
        </div>
    </form>

    <div *ngFor="let message of messages">
        <div>
          <strong>{{ message.UserNameWhoTalk }}:</strong> {{ message.Message }}
        </div>
      </div>
</div>