<div class="container">
    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="sendMessage()"> 
        <label>Users found:</label>

        <label>User to send message:</label>
            <input type="text" formControlName="userNameSelected">

        <label>Message:</label>
            <input type="text" formControlName="messageToSend">

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary w-25">
                <i class="fa fa-save"></i>
                Enviar
            </button>
        </div>
    </form>

    <!-- 🔥 SOLO UN BUCLE AQUÍ -->
    <div *ngFor="let message of messages">
        <div>
          <strong>{{ message.UserNameWhoTalk }}:</strong> {{ message.Message }}
        </div>
        <div>
            <button (click)="deleteMessage(message.id)">Eliminar</button>
        </div>
    </div>
</div>
